//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$fontfamily: "Comfortaa", cursive;
$mw: 1170;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$contrast: #ffffff;
$bgcolor: #ffffff;
$maincolor: #dfcfb5;
$maintextcolor: #333;
$secondarytextcolor: #4b4b4b;
$color-text-main: #dfcfb5;
//</ПЕРЕМЕННЫЕ>===========================================================================================================
