<form
  action=""
  class="addcontact__container container"
  [formGroup]="contactForm"
>
  <button (click)="onCloseClick()" class="addcontact__close-btn"></button>
  <div class="addcontact-group">
    <label for="name" class="addcontact-label">Name: </label>
    <input
      type="text"
      id="name"
      class="addcontact-input"
      formControlName="name"
      maxlength="25"
      [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
    />
    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
      <div *ngIf="f.name.errors.required">Name is required</div>
      <div *ngIf="f.name.errors.minlength || f.name.errors.pattern">
        Name must be at least 2 eng characters
      </div>
    </div>
    <label for="phone" class="addcontact-label">Phone: </label>
    <input
      id="phone"
      type="text"
      class="addcontact-input"
      formControlName="phone"
      maxlength="30"
      [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
    />
    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
      <div *ngIf="f.phone.errors.required">Phone is required</div>
      <div *ngIf="f.phone.errors.pattern || f.phone.errors.minlength">
        Phone must be at least 6 digits
      </div>
    </div>
    <label for="email" class="addcontact-label">Email: </label>
    <input
      id="email"
      type="text"
      class="addcontact-input"
      formControlName="email"
      maxlength="40"
      [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
    />
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.email">
        Email must be a valid email address
      </div>
    </div>
  </div>
  <button
    type="submit"
    class="addcontact__submit-btn btn"
    (click)="onSaveClick()"
  >
    Create
  </button>
</form>
