@import "../../../exportStyles/variables.scss";
@import "../../../exportStyles/mixins.scss";

.addcontact__container {
  max-height: 400px;
  @media (max-width: $md4+px) {
    margin-right: auto;
  }
}
.addcontact__form-body {
  @include flexbox;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 300px;
  // min-width: 300px;
  .addcontact__form-group {
    @include flexbox;
    flex-direction: column;
    justify-content: space-between;
    .addcontact__form-element {
      padding: 5px;
    }
    .input {
      border-bottom: solid 2px $maincolor;
      padding-bottom: 5px;
      font-size: 18px;
    }
  }
  .addcontact__button-group {
    @include flexbox;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $md4+px) {
      flex-direction: column;
      margin-top: 50px;
    }
  }
}
