<div class="addcontact__container container">
  <form action="" class="addcontact__form-body" [formGroup]="addContactForm">
    <button (click)="onCloseClick()" class="form__close-btn"></button>
    <div class="addcontact__form-group">
      <label for="name" class="addcontact__form-label">Contact name: </label>
      <input
        type="text"
        id="name"
        class="addcontact__form-element input"
        formControlName="name"
        maxlength="30"
        [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
      />
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">Name is required</div>
        <div *ngIf="f.name.errors.minlength || f.name.errors.pattern">
          Name must be at least 2 eng characters
        </div>
      </div>
      <label for="phone" class="addcontact__form-label">Phone number: </label>
      <input
        id="phone"
        type="text"
        class="addcontact__form-element input"
        #phoneInput
        formControlName="phone"
        maxlength="30"
        [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
      />
      <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
        <div *ngIf="f.phone.errors.required">Phone is required</div>
        <div *ngIf="f.phone.errors.pattern || f.phone.errors.minlength">
          Phone must be at least 6 digits
        </div>
      </div>
      <label for="email" class="addcontact__form-label">Email: </label>
      <input
        id="email"
        type="text"
        class="addcontact__form-element input"
        #phoneInput
        formControlName="email"
        maxlength="40"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
      />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.email">
          Email must be a valid email address
        </div>
      </div>
    </div>
    <button type="submit" class="form__submit-btn btn" (click)="onSaveClick()">
      Create
    </button>
  </form>
</div>
