@import "../../../exportStyles/variables.scss";
@import "../../../exportStyles/mixins.scss";

.loader,
.loader:before,
.loader:after {
  background: $maincolor;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: $maincolor;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.contactlist__container {
  padding: 10px 50px;
  max-width: 1000px;
  @media (max-width: $md4+px) {
    padding: 10px 20px;
    font-size: 1.5em;
  }
  .contactlist__char-group {
    @include flexbox;
    flex-direction: column;

    .contactlist__char-element {
      display: inline-block;
      font-size: 30px;
      margin-bottom: 25px;
      .contactlist__char-title {
        position: relative;
        &::before {
          z-index: -1;
          content: "";
          display: block;
          position: absolute;
          top: -5px;
          left: -20px;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: $maincolor;
        }
      }
    }
  }
  .contactlist__contact-group {
    @include flexbox;
    flex-direction: column;

    .contactlist__contact-element {
      @include flexbox;
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;
      padding: 5px;
      transition: background-color linear 0.1s;
      border-bottom: solid 1px lighten($color: $maincolor, $amount: 10);
      &:hover {
        background-color: rgba(251, 235, 209, 0.4);
        @media (max-width: $md1+px) {
          background-color: transparent;
        }
        & > .icon-btn {
          display: block;
        }
      }
      .contactlist__contact-image {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin: 0 20px;
        cursor: pointer;
        @media (max-width: $md4+px) {
          height: 30px;
          width: 30px;
          margin: 0 10px;
        }
      }
      .contactlist__contact-info {
        cursor: pointer;
        @include flexbox;
        flex-direction: column;
        justify-content: space-evenly;

        &:hover {
          text-decoration: underline;
          @media (max-width: $md1+px) {
            text-decoration: unset;
          }
        }

        .contactlist__contact-name {
          display: inline-block;
          @media (max-width: $md4+px) {
            font-size: 0.5em;
          }
          font-size: $fontsizelabel;
          line-height: 20px;
          &:active {
            text-decoration: underline;
          }
        }
        .contactlist__contact-phone {
          display: inline-block;
          @media (max-width: $md4+px) {
            font-size: 0.4em;
          }
          font-size: $fontsizesecondary;
          line-height: 20px;
          color: $secondarytextcolor;
          &:active {
            text-decoration: underline;
          }
        }
      }

      .icon-btn {
        height: 20px;
        width: 20px;
        display: none;
        background-color: transparent;
        @media (max-width: $md1+px) {
          display: block;
        }
      }
      .details-btn {
        background-image: url("../../../assets/images/info.svg");
        margin: 0 20px 0 auto;
      }
    }
  }
}
