@import "../../../exportStyles/variables.scss";

.contactlist__container {
  padding: 10px 50px;
  max-width: 1000px;
  @media (max-width: $md4+px) {
    padding: 10px 20px;
    font-size: 1.5em;
    // margin-right: auto;
  }
  .contactlist__char-group {
    display: flex;
    flex-direction: column;

    .contactlist__char-element {
      display: inline-block;
      font-size: 30px;
      margin-bottom: 25px;
      .contactlist__char-title {
        position: relative;
        &::before {
          z-index: -1;
          content: "";
          display: block;
          position: absolute;
          top: -5px;
          left: -20px;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: $maincolor;
        }
      }
    }
  }
  .contactlist__contact-group {
    display: flex;
    flex-direction: column;

    .contactlist__contact-element {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;
      padding: 5px;
      transition: background-color linear 0.1s;
      border-bottom: solid 1px lighten($color: $maincolor, $amount: 10);
      &:hover {
        background-color: rgba(251, 235, 209, 0.4);
        @media (max-width: $md1+px) {
          background-color: unset;
        }
        & > .icon-btn {
          display: block;
        }
      }
      .contactlist__contact-image {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin: 0 20px;
        cursor: pointer;
        @media (max-width: $md4+px) {
          height: 30px;
          width: 30px;
          margin: 0 10px;
        }
      }
      .contactlist__contact-info {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        &:hover {
          text-decoration: underline;
          @media (max-width: $md1+px) {
            // margin-right: auto;
            // height: 170px;
            text-decoration: unset;
          }
        }

        .contactlist__contact-name {
          @media (max-width: $md4+px) {
            font-size: 0.5em;
          }
          font-size: 20px;
          line-height: 20px;
        }
        .contactlist__contact-phone {
          @media (max-width: $md4+px) {
            font-size: 0.3em;
            // margin-right: auto;
          }
          font-size: 15px;
          line-height: 20px;
          color: $secondarytextcolor;
        }
      }

      .icon-btn {
        height: 20px;
        width: 20px;
        display: none;
        background-color: transparent;
        @media (max-width: $md1+px) {
          display: block;
        }
      }
      .details-btn {
        background-image: url("../../../assets/images/info.svg");
        margin: 0 20px 0 auto;
      }
      // .delete-btn {
      //   background-image: url("../../../assets/images/delete.svg");
      //   margin: 0 20px 0 0;
      // }
    }
  }
}
